@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Commissioner', sans-serif;
  font-size: 1.6rem;
  background: #f7f7f7;
}

.ourheader {
  width: 100%;
  height: 80px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.marg-left-13 {
  margin-left: 1.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2rem;
  max-width: 100%;
}

@media only screen and (min-width: 45em) {
  .header__nav--mobile {
    display: none;
  }
}

@media only screen and (max-width: 45em) {
  .header__nav--desktop {
    display: none;
  }
}

.header__hamburger--close {
  display: none;
}

.header__drop-down {
  background-color: white;
  text-align: start;
  width: 90%;
  list-style: none;
  position: absolute;
  left: 0;
  border-radius: .5rem;
  margin: 1.5rem 1rem 1.5rem 2.5rem;
  visibility: hidden;
}

.header__drop-down li {
  padding: 2.9rem 0 2.9rem 3rem;
}

.header__drop-down li:nth-child(2) {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.header__drop-down a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.header__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links li {
  margin-right: 2rem;
}

.header__links a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
}

@media only screen and (min-width: 45em) {
  .header {
    margin: 4rem 8rem;
  }
}

.top-banner {
  max-width: 100%;
  height: 50vh;
  background: url("./images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 45em) {
  .top-banner {
    background: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content-container {
  max-width: 80%;
  margin: 0 auto;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  border-radius: .7rem;
}

@media only screen and (min-width: 45em) {
  .content-container {
    max-width: 55%;
  }
}

.master {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.master__icon {
  width: 4rem;
  height: 4rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.section-1 {
  text-align: center;
  background: white;
  border-radius: 1rem;
}

.section-1__title {
  font-size: 2rem;
  max-width: 75%;
  margin: 0 auto;
}

.section-1__text {
  font-size: 1.6rem;
  max-width: 80%;
  margin: 2rem auto 3rem auto;
}

.section-1__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1__back-project-btn {
  color: white;
  padding: 1.3rem 1.6rem;
  border-radius: 100px;
  background-color: #3cb4ac;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.section-1__back-project-btn:hover {
  background-color: #277772;
}

@media only screen and (max-width: 45em) {
  .section-1__back-project-btn {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 60%;
    margin: 0 auto;
  }
}

.section-1__bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-1__bookmark-img {
  width: 70px;
  height: 70px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  cursor: pointer;
  z-index: 5;
}

@media only screen and (max-width: 45em) {
  .section-1__bookmark-img {
    margin-bottom: -.8rem;
  }
}

.section-1__bookmark-btn {
  cursor: pointer;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  color: #7a7a7a;
  padding: 1.3rem 1.6rem 1.3rem 3.5rem;
  border-radius: 100px;
  background-color: lightgray;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.section-1__bookmark-btn--active {
  color: #3cb4ac;
  background-color: #e4e3e3;
}

@media only screen and (max-width: 45em) {
  .section-1__bookmark-btn {
    display: none;
  }
}

.circle-light {
  fill: #757575;
}

.circle-bookmarked {
  fill: #3cb4ac;
}

.path-bookmarked {
  fill: white;
}

.section-2 {
  max-width: 100%;
  margin: 2rem auto;
  background: white;
  border-radius: 1rem;
  padding: 2rem 0;
}

.section-2__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (min-width: 45em) {
  .section-2__stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
  }
}

.section-2__stats-info {
  margin: 2rem;
}

.section-2__stats-info p {
  color: #7a7a7a;
}

.section-2__stats-info--middle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 0;
}

@media only screen and (min-width: 45em) {
  .section-2__stats-info--middle {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 4rem;
  }
}

.section-2__status-bar-outer {
  max-width: 85%;
  height: 1rem;
  background: #ebeaea;
  border-radius: 100px;
  margin: 1rem auto;
}

.section-2__status-bar-inner {
  height: 1rem;
  background: #3cb4ac;
  border-radius: 100px;
}

.section-3 {
  max-width: 100%;
  margin: 2rem auto;
  background: white;
  border-radius: 1rem;
  padding: 2rem 0;
}

.section-3__about-title {
  max-width: 85%;
  margin: 2rem auto;
}

.section-3__about-info1, .section-3__about-info2 {
  max-width: 85%;
  margin: 2rem auto;
  color: #7a7a7a;
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-3__reward {
  max-width: 85%;
  margin: 2rem auto;
  border: 1px solid #7a7a7a;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
}

.section-3__reward--grayed h1 {
  color: #7a7a7a;
}

.section-3__reward--grayed h3 {
  color: #7a7a7a;
}

.section-3__reward--grayed p {
  color: #d5d2d2;
}

.section-3__reward--grayed .pledge {
  color: #84f5ee;
}

.section-3__reward--grayed button {
  background: #c9c9c9;
  cursor: not-allowed;
}

.section-3__reward--grayed button:hover {
  background: #c9c9c9;
}

.section-3__reward-name-box {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 45em) {
  .section-3__reward-name-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
}

.section-3__reward-name-box p {
  margin-top: .5rem;
  color: #3cb4ac;
}

.section-3__reward-text {
  color: #7a7a7a;
  margin: 1.5rem auto;
  font-size: 1.4rem;
  line-height: 1.8;
}

.section-3__reward-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.section-3__reward-left p {
  margin-left: .7rem;
  color: #7a7a7a;
}

.section-3__reward-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 45em) {
  .section-3__reward-btn-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
}

.section-3__reward-button {
  max-width: 13rem;
  height: 5rem;
  border: none;
  border-radius: 10rem;
  font-weight: 700;
  color: white;
  background: #3cb4ac;
  padding: 0 1.5rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.section-3__reward-button:hover, .section-3__reward-button:active {
  background: #147b74;
}

@media only screen and (min-width: 45em) {
  .section-3__reward-button {
    padding: 0 1.5rem;
    font-size: 1.2rem;
    height: 4rem;
  }
}

.content-container-2 {
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.selection-modal {
  padding: 3rem 0;
  max-width: 85%;
  margin: 11rem auto 0 auto;
  border-radius: .7rem;
  background: white;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 45em) {
  .selection-modal {
    max-width: 55%;
    margin: 16rem auto 0 auto;
  }
}

.selection-modal__title-close {
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.selection-modal__close {
  width: 1.5rem;
  height: 1.5rem;
}

.selection-modal__small-title {
  max-width: 85%;
  margin: 0 auto 2rem auto;
}

.selection-modal__pledge {
  max-width: 85%;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #7a7a7a;
}

.selection-modal__pledge--selected {
  border: 0.15rem solid #3cb4ac;
}

.selection-modal__pledge--out-of-stock {
  border: 0.1rem solid #c9c9c9;
}

.selection-modal__pledge--out-of-stock .selection-modal__radio {
  cursor: not-allowed;
}

.selection-modal__pledge--out-of-stock .selection-modal__left-count-amount {
  color: #7a7a7a;
}

.selection-modal__pledge--out-of-stock .selection-modal__left-count-small {
  color: #c2c2c2;
}

.selection-modal__pledge--out-of-stock .selection-modal__label-span-title {
  color: #7a7a7a;
}

.selection-modal__pledge--out-of-stock .selection-modal__label-span-undertitle {
  color: #93f1eb;
}

.selection-modal__pledge--out-of-stock .selection-modal__input-border, .selection-modal__pledge--out-of-stock .selection-modal__input-box {
  display: none;
}

.selection-modal__radio {
  width: 2rem;
  height: 2rem;
  -webkit-filter: hue-rotate(-40deg) brightness(130%);
          filter: hue-rotate(-40deg) brightness(130%);
}

.selection-modal__input-border {
  margin: 2rem -1.5rem;
  border-top: 0.1rem solid #7a7a7a;
}

.selection-modal__input-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 45em) {
  .selection-modal__input-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.selection-modal__left-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal__left-count-small {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: #7a7a7a;
}

@media only screen and (min-width: 45em) {
  .selection-modal__left-count {
    display: none;
  }
}

.selection-modal__left-count-desktop {
  display: none;
}

@media only screen and (min-width: 45em) {
  .selection-modal__left-count-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
  }
  .selection-modal__left-count-desktop-small {
    margin-left: 1rem;
    font-size: 1.6rem;
    color: #7a7a7a;
  }
}

.selection-modal__input-box-dispatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal__input-box-dispatch-dolla {
  color: #7a7a7a;
}

.selection-modal__input-box-dispatch-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #7a7a7a;
  border-radius: 10rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  width: 13rem;
  height: auto;
  -webkit-transform: scale(1.3) translateX(-1rem);
          transform: scale(1.3) translateX(-1rem);
}

@media only screen and (min-width: 45em) {
  .selection-modal__input-box-dispatch-text {
    margin: 0 1rem 0 0;
    width: 9rem;
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
}

.selection-modal__input-box-dispatch-input {
  width: 80%;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1rem;
}

@media only screen and (min-width: 45em) {
  .selection-modal__input-box-dispatch-input {
    margin: 0;
  }
}

.selection-modal__input-box-dispatch-button {
  padding: 1.9rem 1.3rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  background: #3cb4ac;
  color: white;
  cursor: pointer;
  padding: 1.5rem 2rem;
  width: 50%;
  height: auto;
  -webkit-transform: scale(1.3) translateX(1rem);
          transform: scale(1.3) translateX(1rem);
}

.selection-modal__input-box-dispatch-button:hover {
  background-color: #277772;
}

@media only screen and (min-width: 45em) {
  .selection-modal__input-box-dispatch-button {
    width: 9rem;
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
}

.selection-modal__input-box-title {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 45em) {
  .selection-modal__input-box-title {
    margin: 0;
  }
}

.selection-modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal__reward-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal__label-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: .8rem;
}

@media only screen and (min-width: 45em) {
  .selection-modal__label-span {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.selection-modal__label-span-undertitle {
  margin-top: .5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #3cb4ac;
}

@media only screen and (min-width: 45em) {
  .selection-modal__label-span-undertitle {
    margin-left: .5rem;
    margin-top: 0;
  }
}

.selection-modal__reward-detail {
  margin: 3rem 0 5rem 0;
  color: #7a7a7a;
}
/*# sourceMappingURL=style.css.map */